# Version Control
.git
.gitignore

# Python junk
__pycache__/
*.py[cod]
*.class
*.so
.pytest_cache/
venv/
.venv/
.env

# Jupyter & Data
.ipynb_checkpoints
data/
notebooks/
models/*.parquet

# Mac/System junk
.DS_Store
Thumbs.db

# Deployment artifacts (keep Dockerfile for gcloud builds)
.dockerignore
.gcloudignore

# Dev files not needed in production
requirements_dev.txt
Makefile
README.md
scripts/
*.egg-info/
.ruff_cache/
.envrc
.python-version
setup.py
